.btn {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0px 8px;
  background-color: transparent;
  border: 1px solid rgb(127, 127, 127);
  border-radius: 4px;
  color: rgb(33, 33, 33);
  fill: rgb(33, 33, 33);
  cursor: pointer;

  &:hover {
    color: rgb(189, 60, 75);
    svg {
      fill: rgb(189, 60, 75)
    }
  }
}