.container {
  margin-top: 80px;
  margin-left: 80px;
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}