.alert {
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 30px;
  left: 0;
  width: 2000px;
  height: 50px;
  z-index: 1;
  background-color: rgba(236, 12, 39, 0.9);
  color: white;
  font-size: 12px;
}